html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#flex-sidebar {
  height: 100%;
  z-index: 1;
  display: flex;
  width: 30%;
  position: fixed;
  flex-direction: column;
  background-color: #242423;
  align-items: center;
  justify-content: center;
}

#nav-links {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-div {
  height: 90%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-div > .large-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5cb5c;
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
  min-width: 40px;
  min-height: 40px;
  margin-bottom: -24px;
  z-index: 1;
}

#image-div > .large-icon-div > i {
  font-size: 2.5vh;
  color: #242423;
}

#image {
  height: 300px;
  width: 200px;
  background-color: #f5cb5c;
  object-fit: cover;
}

#image-tab {
  z-index: 1;
  padding: 8px;
  background-color: #cfdbd5;
}

span.title {
  margin-top: 20px;
}

#image-tab > span.heading4 {
  font-size: 8pt;
  margin-left: 12px;
  margin-right: 12px;
  color: #242423;
}

#flex-main {
  width: 70%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}

.content-main {
  margin: 40px;
}

.content-section {
  background-color: #cfdbd5;
  padding: 20px;
  border-radius: 8px;
}

.content-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.content-heading > span.heading1 {
  padding-left: 20px;
}

.content-content {
  padding-right: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
